$breakpoints: (
  'xs': 'screen and (min-width: 1px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
)!default;

@mixin media($breakpoint:md){
  @media #{map-get($breakpoints,$breakpoint)}{
    @content;
  }
}

.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  top: 0;
  z-index: 10000;
  nav {
    .logo {
      width: 70px;
      margin: 8px 0;
      @include media(md) {
        width: 75px;
      }
    }
    .container-fluid {
      width: 90%;
      margin: 0 auto;
    }
    .navbar-toggler .navbar-toggler-icon {
      font-size: 20px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(3, 32, 89, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      @include media(md) {
        font-size: 32px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(3, 32, 89, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
    .navbar-toggler{
      border-color: rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0);
    }
    .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media(lg) {
        flex-direction: row;
      }
      .nav-item {
        @include media(lg) {
          padding: 0 8px;
        }
      }
      .nav-link {
        color: #032059;
        @include media(lg) {
          font-size: 2rem;
          &:hover {
              color: #F27F3D;
          }
        }
      }
    }
  }
}
