$breakpoints: (
  'xs': 'screen and (min-width: 1px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
)!default;

@mixin media($breakpoint:md){
  @media #{map-get($breakpoints,$breakpoint)}{
    @content;
  }
}

.footer_container {
  background-color: #1E2D59;

  @include media(xs) {
    max-height: 300px;
    padding: 12%;
  }
  @include media(sm) {
    max-height: 350px;
    padding: 5%;
  }
  @include media(md) {
    max-height: 350px;
    padding: 5%;
  }
  @include media(lg) {
    max-height: 350px;
    padding: 3%;
  }
  .social_link {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    @include media(sm) {
      margin-bottom: 5%;
    }
    @include media(lg) {
      margin-bottom: 3%;
    }
    a {
      display: block;
      i {
        font-size: 4rem;
        @include media(sm) {
          font-size: 5.6rem;
          padding: 32px;
        }
        @include media(md) {
          font-size: 5.6rem;
          padding: 40px;
        }
        @include media(lg) {
          font-size: 6.4rem;
          padding: 40px;
        }
        padding: 24px;
        color: white;
      }
    }
    i:hover {
      transform: scale(1.1);
    }
  }
  .copyright {
    text-align: center;
    color: white;
  }
}
