<benchbakery-header></benchbakery-header>
<section class="home_benchbakery">
  <section class="hero_home">
    <div class="hero_homeContent">
      <p>FRESHLY MILLED ORGANIC GRAIN</p>
      <h1>No Hidden Ingredients</h1>
      <div class="btn_wrapper">
        <a (click)="scrollTo('products')">SHOP NOW</a>
      </div>
    </div>
  </section>

  <section id="products">
    <h2>FRESH. ORGANIC. HEALTHY.</h2>
    <products></products>
  </section>

  <section class="our_story">
    <div class="intro_container">
      <h2>Our Story</h2>
      <p class="intro">
        A healthy community is built on healthy food. And healthy food depends on how it's grown, harvested and prepared. We think the question “where did your food come from?” is one each of us should be able to answer.
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="story story1">
            <img src="../../../assets/benchbakery/ourStory1.jpg" alt="">
            <p>
              Bench Bakery share the tools, education and community people need to access, cook and eat nutritious, whole food. And the more people crave traceable grains, the more family farmers we can partner with.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="story story2">
            <img src="../../../assets/benchbakery/ourStory2.jpg" alt="">
            <p>
              Traceable food is trustworthy food. Clarity begets health. We focus on grains because that's where we can make the most impact. It's a cornerstone of our kitchens. Grains allow us to go big—to give a lot of people access to nourishing food.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="link_btn">
      <a routerLink="/benchbakery/about">LEARN MORE</a>
    </div>
  </section>
</section>
<benchbakery-footer></benchbakery-footer>
