<benchbakery-header></benchbakery-header>
<section class="about_benchbakery">
  <div class="hero_about">
    <div class="hero_aboutContent">
      <h1>Our Story</h1>
      <p>Our Vision is to be the favourite bakery in every community.</p>
    </div>
  </div>
  <div class="text">
    <p>
      A healthy community is built on healthy food. And healthy food depends on how it's grown, harvested and prepared. We think the question “where did your food come from?” is one each of us should be able to answer.
    </p>
  </div>
  <div class="mission">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="../../../assets/benchbakery/aboutUs1.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="mission_text">
            <h2>Our Vision and Mission</h2>
            <p>
              Our Vision is to be the favourite bakery in every community, and it is our mission to develop strong connections with our customers and communities that ignite a passion for bread and the freshest baked treats.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="difference">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 difference_img">
          <img src="../../../assets/benchbakery/aboutUs2.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="difference_text">
            <h2>The Bench Bakery Difference</h2>
            <p>
              We bake fresh in-house all day, every day, and when we close our doors, we donate our leftover baked goods to local charities. The next morning, we start fresh. Let's toast to being different.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="traditions">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="../../../assets/benchbakery/aboutUs3.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="traditions_text">
            <h2>Our Traditions</h2>
            <p>
              We believe in high performance and personal accountability. We take pride in our work and have passion for everything we do. Open and honest communication is the cornerstone of everything Bench Bakery. And we aren't afraid to innovate in the traditional baking industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="link_home">
    <h1>Fresh, Organic, Healthy Bread Baked Daily</h1>
    <a routerLink="/benchbakery/home">SHOP MORE</a>
  </div>
</section>
<benchbakery-footer></benchbakery-footer>
