$breakpoints: (
  'xs': 'screen and (min-width: 1px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
)!default;

@mixin media($breakpoint:md){
  @media #{map-get($breakpoints,$breakpoint)}{
    @content;
  }
}

.about_page {
  padding-top: 150px;
  width: 90%;
  margin: 0 auto;
  .container {
    padding: 0;
  }
  .pageTitle {
    font-weight: 800;
    letter-spacing: 0.5rem;
    color: #032059;
    @include media(xs) {
      font-size: 3.2rem;
      margin-bottom: 13%;
    }
    @include media(sm) {
      font-size: 3.2rem;
      margin-bottom: 7%;
    }
    @include media(md) {
      font-size: 5.6rem;
      margin-bottom: 10%;
    }
    @include media(lg) {
      font-size: 6.4rem;
      margin-bottom: 7%;
    }
    img {
      width: 9%;
      margin-right: 16px;
      @include media(sm) {
        width: 8%;
      }
      @include media(md) {
        width: 7%;
        margin-right: 20px;
      }
      @include media(lg) {
        width: 4%;
        margin-right: 20px;
      }
    }
  }
  .about_me {
    @include media(xs) {
      margin-bottom: 30%;
    }
    @include media(sm) {
      margin-bottom: 20%;
    }
    @include media(lg) {
      margin-bottom: 15%;
    }

    .left_panel {
      .image_wrapper {
        @include media(xs) {
          margin-bottom: 32px;
        }
        @include media(sm) {
          margin: 0 auto;
          width: 50%;
        }
        @include media(md) {
          margin: 0 auto;
          width: 40%;
        }
        @include media(lg) {
          margin: 0 auto;
          width: 50%;
        }
        img {
          border-radius: 10px;
        }
      }
      .bio_content {
        @include media(xs) {
          margin-bottom: 48px;
        }
        h3.subtitle {
          font-weight: 700;
          text-align: center;
          @include media(xs) {
            font-size: 2rem;
            margin-bottom: 24px;
          }
          @include media(sm) {
            width: 60%;
            margin: 24px auto;
          }
          @include media(md) {
            width: 60%;
            margin: 24px auto;
          }
          @include media(lg) {
            width: 50%;
            font-size: 2.4rem;
            margin: 32px auto;
          }
        }
        p.description {
          text-align: center;
          @include media(sm) {
            width: 80%;
            margin: 24px auto;
          }
          @include media(md) {
            width: 60%;
            margin: 24px auto;
          }
          @include media(lg) {
            width: 60%;
            margin: 24px auto;
          }

        }
      }
    }
    .right_panel {
      @include media(xs) {
        margin-bottom: 10%;
      }
      .card_container {
        // background-color: #EBE5DD;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // border-radius: 10px;
        @include media(xs) {
          // padding: 10%;
          margin-bottom: 24px;
        }
        @include media(sm) {
          padding: 8%;
          // margin: 8px;
          // min-height: 380px;
        }
        @include media(md) {
          // margin-bottom: 16px;
          // padding: 8%;
          // min-height: 350px;
        }
        @include media(lg) {
          padding: 10%;
          margin-bottom: 0;
          // min-height: 400px;
        }
        .icon_wrapper {
          // position: relative;
          // width: 120px;
          // height: 120px;
          // margin: 0 auto;
          // background-color: #EBE5DD;
          // border-radius: 50%;
          // @include media(xs) {
          //   margin-bottom: 16px;
          // }
          // @include media(sm) {
          //   margin-bottom: 24px;
          // }
          img {
            display: block;
            margin: 0 auto;
            @include media(xs) {
              width: 40%;
              margin-bottom: 24px;
              // margin: 0 auto;
            }
            @include media(sm) {
              width: 40%;
              // margin-bottom: 24px;
            }
            @include media(md) {
              width: 40%;

              // margin-bottom: 24px;
            }
          }
        }
        .card_text {
          display: flex;
          flex-direction: column;
          align-items: center;
          h4.card_title {
            font-weight: 700;
            text-align: center;
            @include media(xs) {
              font-size: 24px;
              margin-bottom: 24px;
            }
          }
          p.card_description {
            text-align: center;
          }
        }

      }
    }
    .resume_btn {
      a {
        background: #F27F3D;
        border-radius: 3px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;

        @include media(xs) {
          width: 90%;
          padding: 10px 32px;
          font-size: 2rem;
        }
        @include media(sm) {
          width: 50%;
          font-size: 2rem;
        }
        @include media(md) {
          width: 50%;
          font-size: 2rem;
        }
        @include media(lg) {
          width: 30%;
          font-size: 2.4rem;
          // padding: 10px 24px;

        }
        color: white;
        transition: 0.3s ease-in-out;
        font-weight: 500;
        i {
          color: white;
          width: 8%;
          @include media(md) {
            width: 7%;
          }
          @include media(lg) {
            width: 5%;
          }
        }
      }
      a:hover {
        background: #032059;
        letter-spacing: 0.1em;
      }
    }
  }

  .testimonial {
    @include media(xs) {
      margin-bottom: 20%;
    }
    @include media(sm) {
      margin-bottom: 15%;
    }
    @include media(md) {
      margin-bottom: 16%;
    }
    @include media(lg) {
      margin-bottom: 12%;
    }
    h2.section_title {
      letter-spacing: 0.2rem;
      font-weight: 700;
      @include media(xs) {
        font-size: 2.4rem;
        margin-bottom: 5%;
      }
      @include media(sm) {
        font-size: 2.8rem;
        margin-bottom: 2%;
      }
      @include media(md) {
        font-size: 3.2rem;
        margin-bottom: 3%;
      }
      @include media(lg) {
        font-size: 4rem;
        margin-bottom: 2%;
      }
      img {
        width: 8%;
        margin-right: 8px;
        transform: rotate(90deg);
        @include media(sm) {
          width: 5%;
        }
        @include media(md) {
          width: 5%;
          margin-right: 20px;
        }
        @include media(lg) {
          width: 3%;
          // margin-right: 3px;
        }
      }
    }
    .testimonial_card {
      margin-bottom: 10%;
      @include media(sm) {
        margin-bottom: 5%;
      }
      padding: 8px;
      .speech_bubble {
        position: relative;
        display: inline-block;
        margin: 24px 0;
        padding: 16px;
        // min-width: 120px;
        // max-width: 100%;
        background: #EBE5DD;
        border-radius: 15px;
        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 25%;
          margin-left: -15px;
          border: 15px solid transparent;
          border-top: 15px solid #EBE5DD;
        }
        i.quote_icon {
          font-size: 32px;
          color: #F27F3D;
        }
      }
      .cite {
        width: 70%;
        margin: 0 auto;
        img {
          margin-right: 16px;
          @include media(xs) {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          @include media(sm) {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          @include media(lg) {
            width: 70px;
            height: 70px;
            border-radius: 50%;
          }
        }
        span {
          font-size: 16px;
        }
      }

    }
  }
  .favorite_points {
    @include media(xs) {
      margin-bottom: 20%;
    }
    @include media(sm) {
      margin-bottom: 15%;
    }
    @include media(md) {
      margin-bottom: 16%;
    }
    @include media(lg) {
      margin-bottom: 12%;
    }
    h2.section_title {
      letter-spacing: 0.2rem;
      font-weight: 700;
      @include media(xs) {
        font-size: 2.4rem;
        margin-bottom: 5%;
      }
      @include media(sm) {
        font-size: 2.8rem;
        margin-bottom: 2%;
      }
      @include media(md) {
        font-size: 3.2rem;
        margin-bottom: 3%;
      }
      @include media(lg) {
        font-size: 4rem;
        margin-bottom: 5%;
      }
      img {
        width: 8%;
        margin-right: 8px;
        transform: rotate(90deg);
        @include media(sm) {
          width: 5%;
        }
        @include media(md) {
          width: 5%;
          margin-right: 20px;
        }
        @include media(lg) {
          width: 3%;
          // margin-right: 3px;
        }
      }
    }
    .points_wrapper {
      @include media(sm) {
        display: flex;
        flex-direction: row;
      }
      .backshot_image {
        @include media(xs) {
          margin-bottom: 5%;
        }
        @include media(sm) {
          width: 100%;
        }
        @include media(lg) {
          width: 45%;
        }
      }
      .points {
        @include media(sm) {
          padding-left: 3%;
        }
        @include media(lg) {
          padding-left: 4%;
        }
        ul.content_points {
          list-style-type: none;
          li {
            @include media(xs) {
              padding-left: 24px;
              margin-bottom: 16px;
            }
            @include media(lg) {
              margin-top: 3%;
              padding-left: 30px;
              font-size: 2rem;
            }
            position: relative;
            &:before {
              content: url('../../assets/arrow_navy_right.svg');
              position: absolute;
              @include media(xs) {
                top: 3%;
                left: 0;
                width: 5%;
              }
              @include media(lg) {
                top: 3%;
                left: 0;
                width: 3%;
              }
            }
          }
        }
      }
    }
  }

  .contact {
    margin-bottom: 150px;
    .text_up {
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
    .contact_title {
      span {
        display: block;
        font-weight: 700;
        @include media(xs) {
          font-size: 4.8rem;
          margin-bottom: 20px;
        }
        @include media(sm) {
          font-size: 5.6rem;
          margin-bottom: 20px;
        }
        @include media(md) {
          font-size: 7.2rem;
        }
        @include media(lg) {
          font-size: 8rem;
        }
        letter-spacing: 0.04em;
      }
    }
    .contactMessage {
      margin: 0 auto 3%;
      display: flex;
      justify-content: center;
      @include media(xs) {
        font-size: 2.2rem;
        margin-bottom: 32px;
      }
      @include media(sm) {
        font-size: 2.2rem;
        margin-bottom: 32px;
      }
      @include media(md) {
        font-size: 4rem;
        margin-bottom: 56px;
      }
      @include media(lg) {
        font-size: 4rem;
        margin-bottom: 72px;
      }
    }
    .contact_btn_wrapper {
      a {
        background: #F27F3D;
        border-radius: 3px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;

        @include media(xs) {
          width: 90%;
          padding: 10px 32px;
          font-size: 2rem;
        }
        @include media(sm) {
          width: 60%;
          font-size: 2.4rem;
        }
        @include media(md) {
          width: 60%;
          font-size: 3.2rem;
        }
        @include media(lg) {
          width: 38%;
          font-size: 3.2rem;
          padding: 10px 24px;

        }
        color: white;
        transition: 0.3s ease-in-out;
        font-weight: 500;
        img {
          width: 8%;
          @include media(md) {
            width: 7%;
          }
          @include media(lg) {
            width: 5%;
          }
          animation: slideBlink 1.2s linear infinite;
          transition: ease-in-out;
        }
      }
      a:hover {
        background: #032059;
        letter-spacing: 0.1em;
      }
      @keyframes slideBlink {
        from {
          // opacity: 0;
          transform: translateX(3);
        }
        to {
          // opacity: 1;
          transform: translateX(20px);
        }
      }

    }
  }
}
