<div class="loadingScreen" *ngIf="loading">
  <div class="flower-spinner">
    <div class="dots-container">
      <div class="bigger-dot">
        <div class="smaller-dot"></div>
      </div>
    </div>
  </div>
  <div>Page Loading...</div>
</div>

<portfolio-header></portfolio-header>
<section class="about_page" *ngIf="showElement">
  <h1 class="pageTitle">
    <span><img src="../../assets/arrow_orange_right.svg" alt="Machika Yamauchi portfolio web developer arrow icon">About me</span>
  </h1>
  <div class="about_me">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left_panel">
            <div class="image_wrapper">
              <img src="../../assets/myHeadShot(light_size).jpg" alt="Machika Yamauchi portfolio web developer headshot">
            </div>
            <div class="bio_content">
              <h3 class="subtitle">{{aboutMe.data.attributes.BioSubtitle}}</h3>
              <p class="description" [innerHTML]="aboutMe.data.attributes.BioDescription"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right_panel">
            <div class="row">
              <div class="col-sm-6" *ngFor="let aboutMeCard of aboutMeCards">
                <div class="card_container">
                  <div class="icon_wrapper">
                    <img [src]="aboutMeCard.attributes.Icon.data.attributes.url" alt="Machika Yamauchi portfolio web developer myself icon">
                  </div>
                  <div class="card_text">
                    <h4 class="card_title">{{aboutMeCard.attributes.Title}}</h4>
                    <p class="card_description">{{aboutMeCard.attributes.Description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resume_btn">
      <a href="../../assets/resume.pdf" target="_blank">See My Resume
        <i class="fa-solid fa-file-arrow-down"></i>
      </a>
    </div>

  </div>
  <div class="testimonial">
    <h2 class="section_title">
      What my instructors say about me
    </h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6" *ngFor="let testimonial of testimonials">
          <div class="testimonial_card">
            <div class="speech_bubble">
              <i class="fa-solid fa-quote-left quote_icon"></i>
              <p class="content" [innerHTML]="testimonial.attributes.Testimonial"></p>
            </div>
            <div class="cite">
              <img [src]="testimonial.attributes.Image.data.attributes.url" alt="Machikka Yamauchi portfolio VanArts instructor headshot">
              <div class="name_container">
                <div class="school_name">VanArts Instructor</div>
                <div>
                  <a class="instructor_name" [href]="testimonial.attributes.VanArts_instructor_link">
                    {{testimonial.attributes.Name}} / {{testimonial.attributes.JobTitle}}
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="favorite_points">
    <h2 class="section_title">
      What I like for development
    </h2>
    <div class="points_wrapper">
      <div class="backshot_image">
        <img [src]="aboutMe.data.attributes.BackShot.data.attributes.url" alt="">
      </div>
      <div class="points">
        <ul class="content_points">
          <li>
            {{aboutMe.data.attributes.WhatILike1}}
          </li>
          <li>
            {{aboutMe.data.attributes.WhatILike2}}
          </li>
          <li>
            {{aboutMe.data.attributes.WhatILike3}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="contact">
    <div class="text_up contact_title">
      <span class="text_up_js">C</span>
      <span class="text_up_js">o</span>
      <span class="text_up_js">n</span>
      <span class="text_up_js">t</span>
      <span class="text_up_js">a</span>
      <span class="text_up_js">c</span>
      <span class="text_up_js">t</span>
    </div>
    <div class="contactMessage">
      <p>Please Feel Free to Contact Me!</p>
    </div>
    <div class="contact_btn_wrapper">
      <a href="#">Lets's Talk!
        <img class="arrow_btn" src="../../assets/arrow_white_right.svg" alt="Machika Yamauchi portfolio web developer arrow icon">
      </a>
    </div>
  </div>
</section>
<portfolio-footer></portfolio-footer>
