<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 products_wrapper" *ngFor="let products of productsJSON">
      <a [routerLink]="[ '/benchbakery/products', products.id]">
        <div class="product_img">
          <img [src]="server + '/' + products.image1" alt="Bench Bakery product">
        </div>
        <div class="name">
          <p>{{products.name}}</p>
        </div>
        <div class="price">
          <p>{{products.price | currency:"CAD"}}</p>
        </div>
        <div class="description">
          <p>{{products.description}}</p>
        </div>
      </a>

    </div>
  </div>
</div>
