$breakpoints: (
  'xs': 'screen and (min-width: 1px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
)!default;

@mixin media($breakpoint:md){
  @media #{map-get($breakpoints,$breakpoint)}{
    @content;
  }
}

.loadingScreeen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  div {
    margin-bottom: 24px;
  }
}

.projects_page {
  padding-top: 150px;
  width: 90%;
  margin: 0 auto;
  .pageTitle {
    font-weight: 800;
    letter-spacing: 0.5rem;
    color: #032059;
    @include media(xs) {
      font-size: 3.2rem;
      margin-bottom: 13%;
    }
    @include media(sm) {
      font-size: 3.2rem;
      margin-bottom: 7%;
    }
    @include media(md) {
      font-size: 5.6rem;
      margin-bottom: 10%;
    }
    @include media(lg) {
      font-size: 6.4rem;
      margin-bottom: 7%;
    }
    img {
      // display: block;
      width: 9%;
      margin-right: 16px;
      @include media(sm) {
        width: 5%;
      }
      @include media(md) {
        width: 7%;
        margin-right: 20px;
      }
      @include media(lg) {
        width: 4%;
        margin-right: 20px;
      }
    }
  }
  .projects_card {
    .container {
      padding: 0;
      .projects_category {
        letter-spacing: 0.2rem;
        font-weight: 700;
        @include media(xs) {
          font-size: 2.4rem;
          margin-bottom: 5%;
        }
        @include media(sm) {
          font-size: 2.8rem;
          margin-bottom: 2%;
        }
        @include media(md) {
          font-size: 3.2rem;
          margin-bottom: 3%;
        }
        @include media(lg) {
          font-size: 4rem;
          margin-bottom: 2%;
        }
        img {
          width: 8%;
          margin-right: 8px;
          @include media(sm) {
            width: 5%;
          }
          @include media(md) {
            width: 4%;
            margin-right: 20px;
          }
          @include media(lg) {
            width: 2%;
          }
        }
      }

      .category_container {
        @include media(xs) {
          margin-bottom: 20%;
        }
        @include media(sm) {
          margin-bottom: 10%;
        }
        @include media(md) {
          margin-bottom: 10%;
        }
        @include media(lg) {
          margin-bottom: 10%;
        }
        .col-lg-4, .col-sm-6 {
          @include media(sm) {
            padding: 15px;
          }
        }
        .project_card_container {
          border-radius: 10px;
          box-shadow: 0 0 10px 0 rgb(96 108 123 / 20%);
          margin-bottom: 24px;
          @include media(md) {
            height: 780px;
            overflow: hidden;
          }
          a {
            display: inline-block;
            color: #032059;
            .projectImg_wrapper {
              overflow: hidden;
              @include media(xs) {
                margin-bottom: 16px;
              }
              @include media(md) {
                margin-bottom: 8px;
              }
              @include media(lg) {
                margin-bottom: 10px;
              }
              img {
                border-radius: 10px 10px 0 0;
                width: 100%;
                transition-duration: 0.3s;
              }
              &:hover {
                transform: scale(1.1);
                transition-duration: 0.3s;
                opacity: 0.6;
              }

            }
            .project_desc {
              padding: 8%;
              h3.project_title {
                font-weight: 700;
                color: #F27F3D;
                @include media(xs) {
                  font-size: 1.8rem;
                  margin-bottom: 18px;
                }
                @include media(sm) {
                  font-size: 1.8rem;
                }
                @include media(md) {
                  font-size: 2rem;
                  margin-bottom: 20px;
                }
                @include media(lg) {
                  font-size: 2.4rem;
                  margin-bottom: 24px;
                }
              }
              p.project_summary {
                font-size: 1.6rem;
                @include media(xs) {
                  margin-bottom: 16px;
                }
                @include media(md) {
                  font-size: 1.8rem;
                  margin-bottom: 20px;
                }
                @include media(lg) {
                  margin-bottom: 24px;
                }
              }
              ul.technology_used {
                display: flex;
                flex-wrap: wrap;
                padding-left: 0;
                @include media(xs) {
                  margin-bottom: 10%;
                }
                @include media(md) {
                  margin-bottom: 10%;
                }
                @include media(lg) {
                  margin-bottom: 10%;
                }
                li {
                  list-style-type: none;
                  border-radius: 5px;
                  background-color: #efe8d6;
                  padding: 5px;
                  margin: 5px 5px 5px 0;
                  @include media(xs) {
                    font-size: 1.4rem;
                    margin: 3px 8px 8px 0;
                  }
                }
              }
              .arrowIcon_wrapper {
                position: relative;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid #032059;
                img {
                  display: block;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 40%;
                  // animation: slideBlink 1s linear infinite;
                  // transition: ease-in;
                }
                // @keyframes slideBlink {
                //   from {
                //     left: 20px;
                //   }
                //   to {
                //     left: 25px;
                //   }
                // }
              }
            }
          }
        }
      }
    }
  }

  .btn_home_wrapper {
    @include media(xs) {
      margin-bottom: 30%;
    }
    @include media(md) {
      margin-bottom: 20%;
    }
    @include media(lg) {
      margin-bottom: 16%;
    }
    a {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      max-width: 340px;
      padding: 10px 25px;
      color: white;
      transition: 0.3s ease-in-out;
      font-weight: 700;
      font-size: 2.4rem;
      background: #F27F3D;
      border-radius: 50px;
      border: 0.2rem solid #032059;
      box-shadow: 0.3rem 0.3rem 0px 0.2rem #032059;
      img {
        width: 8%;
        @include media(md) {
          width: 7%;
        }
        @include media(lg) {
          width: 7%;
        }
        animation: slideBlink 1.2s linear infinite;
        transition: ease-in-out;
      }
    }
    a:hover {
      transform: translate3d(0.2rem, 0.2rem, 0);
      box-shadow: none;
      opacity: 1;
      transition: all 0.2s;
    }
    @keyframes slideBlink {
      from {
        // opacity: 0;
        transform: translateX(3);
      }
      to {
        // opacity: 1;
        transform: translateX(20px);
      }
    }
  }
}
