<div class="loadingScreen" *ngIf="loading">
  <div class="flower-spinner">
    <div class="dots-container">
      <div class="bigger-dot">
        <div class="smaller-dot"></div>
      </div>
    </div>
  </div>
  <div>Page Loading...</div>
</div>

<portfolio-header *ngIf="showElement"></portfolio-header>
<section class="projects_page">
  <h1 class="pageTitle" *ngIf="showElement"><img src="../../assets/arrow_orange_right.svg" alt="Machika Yamauchi portfolio web developer arrow icon">Projects
  </h1>
  <div class="projects_card">
    <div class="container" *ngFor="let project of projects.data">
      <h2 class="projects_category">
        {{project.attributes.CategoryName}}
        <img src="../../assets/arrow_navy_bottom.svg" alt="Machika Yamauchi portfolio web developer arrow icon">
      </h2>
      <section class="category_container">
        <div class="row">
          <div class="col-lg-4" *ngFor="let item of project.attributes.projects.data">
            <div class="project_card_container">
              <a [routerLink]="[ '/projects', item.id, item.attributes.Slug]">
                <div class="projectImg_wrapper">
                  <img [src]="item.attributes.ProjectsHero.data.attributes.url" alt="Machika Yamauchi portfolio web developer projects image">
                </div>
                <div class="project_desc">
                  <h3 class="project_title">{{item.attributes.Title}}</h3>
                  <p class="project_summary">{{item.attributes.Summary}}</p>
                  <ul class="technology_used">
                    <li *ngFor="let tech of item.attributes.technology_useds.data">{{tech.attributes.TechnologyName}}</li>
                  </ul>
                  <div class="arrowIcon_wrapper">
                    <img src="../../assets/arrow_orange_right.svg" alt="Machika Yamauchi portfolio web developer arrow icon">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="afterEffects">
    <h2 class="projects_category">
      After Effects
      <img src="../../assets/arrow_navy_bottom.svg" alt="Machika Yamauchi portfolio web developer arrow icon">
    </h2>
    <div class="youtube_container">
      <iframe src="https://www.youtube.com/embed/RZmZgntL9DY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/RZmZgntL9DY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </div>

  <div class="btn_home_wrapper" *ngIf="showElement">
    <a routerLink="/">Back to Home
      <img class="arrow_btn" src="../../assets/arrow_white_right.svg" alt="Machika Yamauchi portfolio web developer arrow icon">
    </a>
  </div>
</section>

<portfolio-footer *ngIf="showElement"></portfolio-footer>



