$breakpoints: (
  'xs': 'screen and (min-width: 1px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
)!default;

@mixin media($breakpoint:md){
  @media #{map-get($breakpoints,$breakpoint)}{
    @content;
  }
}

.loadingScreen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .flower-spinner,  .flower-spinner * {
    box-sizing: border-box;
  }

  .flower-spinner {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flower-spinner .dots-container {
    height: calc(70px / 7);
    width: calc(70px / 7);
  }

  .flower-spinner .smaller-dot {
    background: #f27f3d;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: flower-spinner-smaller-dot-animation 2.5s 0s infinite both;

  }

  .flower-spinner .bigger-dot {
    background: #f27f3d;
    height: 100%;
    width: 100%;
    padding: 10%;
    border-radius: 50%;
    animation: flower-spinner-bigger-dot-animation 2.5s 0s infinite both;
  }

  @keyframes flower-spinner-bigger-dot-animation {
    0%, 100% {
      box-shadow: rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px;
    }

    50% {
      transform: rotate(180deg);
    }

    25%, 75% {
      box-shadow: rgb(242, 127, 61) 26px 0px 0px,
      rgb(242, 127, 61) -26px 0px 0px,
      rgb(242, 127, 61) 0px 26px 0px,
      rgb(242, 127, 61) 0px -26px 0px,
      rgb(242, 127, 61) 19px -19px 0px,
      rgb(242, 127, 61) 19px 19px 0px,
      rgb(242, 127, 61) -19px -19px 0px,
      rgb(242, 127, 61) -19px 19px 0px;
    }

    100% {
      transform: rotate(360deg);
      box-shadow: rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px;
    }
  }

  @keyframes flower-spinner-smaller-dot-animation {
    0%, 100% {
      box-shadow: rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px;
    }

    25%, 75% {
      box-shadow: rgb(3, 32, 89) 14px 0px 0px,
      rgb(3, 32, 89) -14px 0px 0px,
      rgb(3, 32, 89) 0px 14px 0px,
      rgb(3, 32, 89) 0px -14px 0px,
      rgb(3, 32, 89) 10px -10px 0px,
      rgb(3, 32, 89) 10px 10px 0px,
      rgb(3, 32, 89) -10px -10px 0px,
      rgb(3, 32, 89) -10px 10px 0px;
    }

    100% {
      box-shadow: rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px;
    }
  }
}


.projects_page {
  padding-top: 150px;
  margin: 0 auto;
  @include media(xs) {
    width: 80%;
  }
  @include media(sm) {
    width: 80%;
  }
  @include media(md) {
    width: 80%;
  }
  h1.pageTitle {
    font-weight: 800;
    letter-spacing: 0.5rem;
    color: #032059;
    text-align: center;
    @include media(xs) {
      font-size: 3.2rem;
      margin-bottom: 16%;
    }
    @include media(sm) {
      font-size: 4.8rem;
      margin-bottom: 10%;
    }
    @include media(md) {
      font-size: 5.6rem;
      margin-bottom: 10%;
    }
    @include media(lg) {
      font-size: 6.4rem;
      margin-bottom: 7%;
    }
    img {
      transform: rotate(90deg);
      @include media(xs) {
        width: 8%;
      }
      @include media(sm) {
        width: 6%;
      }
      @include media(md) {
        width: 6%;
      }
      @include media(lg) {
        width: 3%;
      }
    }
  }
  .projects_card {
    .container {
      padding: 0;
      h2.projects_category {
        letter-spacing: 0.2rem;
        font-weight: 700;
        text-align: center;
        @include media(xs) {
          font-size: 2.4rem;
          margin-bottom: 8%;
        }
        @include media(sm) {
          font-size: 2.4rem;
          margin-bottom: 5%;
        }
        @include media(md) {
          font-size: 3.2rem;
          margin-bottom: 3%;
        }
        @include media(lg) {
          font-size: 4rem;
          margin-bottom: 2%;
        }
        img {
          width: 8%;
          margin-right: 8px;
          @include media(sm) {
            width: 5%;
          }
          @include media(md) {
            width: 4%;
            margin-right: 20px;
          }
          @include media(lg) {
            width: 2%;
          }
        }
      }

      .category_container {
        @include media(xs) {
          margin-bottom: 32%;
        }
        @include media(sm) {
          margin-bottom: 16%;
        }
        @include media(md) {
          margin-bottom: 20%;
        }
        @include media(lg) {
          margin-bottom: 10%;
        }
        .col-lg-4, .col-sm-6 {
          @include media(sm) {
            padding: 15px;
          }
        }
        .project_card_container {
          border-radius: 10px;
          box-shadow: 0 0 10px 0 rgb(96 108 123 / 20%);
          margin-bottom: 32px;
          background-color: white;
          @include media(sm) {
            height: 640px;
            overflow: hidden;
          }
          @include media(md) {
            height: 700px;
            overflow: hidden;
          }
          @include media(lg) {
            height: 680px;
            overflow: hidden;
          }
          .projectImg_wrapper {
            @include media(xs) {
              margin-bottom: 16px;
            }
            @include media(md) {
              margin-bottom: 8px;
            }
            @include media(lg) {
              margin-bottom: 10px;
            }
            img {
              border-radius: 10px 10px 0 0;
              width: 100%;
            }
          }
          .project_desc {
            padding: 8%;
            h3.project_title {
              font-weight: 700;
              @include media(xs) {
                font-size: 1.8rem;
                margin-bottom: 18px;
              }
              @include media(sm) {
                font-size: 1.8rem;
              }
              @include media(md) {
                font-size: 2rem;
                margin-bottom: 20px;
              }
              @include media(lg) {
                font-size: 2.4rem;
                margin-bottom: 24px;
              }
            }
            p.project_summary {
              line-height: 1.5;
              font-size: 1.6rem;
              @include media(xs) {
                margin-bottom: 16px;
              }
              @include media(md) {
                font-size: 1.8rem;
                margin-bottom: 20px;
              }
              @include media(lg) {
                margin-bottom: 24px;
              }
            }
            ul.technology_used {
              display: flex;
              flex-wrap: wrap;
              padding-left: 0;
              @include media(xs) {
                margin-bottom: 16px;
              }
              @include media(md) {
                margin-bottom: 20px;
              }
              @include media(lg) {
                margin-bottom: 24px;
              }
              li {
                list-style-type: none;
                border-radius: 5px;
                border: 1px solid #032059;
                padding: 4px 8px;
                margin: 5px 5px 5px 0;
                @include media(xs) {
                  font-size: 1.4rem;
                  margin: 3px 8px 8px 0;
                }
              }
            }
            .link_wrapper {
              @include media(sm) {
                display: flex;
              }
              a {
                display: block;
                color: white;
                text-align: center;
                border-radius: 50px;
                padding: 4px 8px;
                @include media(xs) {
                  margin-bottom: 16px;
                  font-size: 1.8rem;
                }
                @include media(md) {
                  font-size: 1.6rem;
                }
                @include media(lg) {
                  font-size: 1.6rem;
                }
              }
              .viewSite {
                background-color: #F27F3D;
                @include media(xs) {
                  width: 100%;
                }
                @include media(sm) {
                  width: 50%;
                  margin-right: 20px;
                }
                &:hover {
                  background-color: #f6a374;
                }
              }
              .github_casestudy {
                background-color: #032059;
                @include media(xs) {
                  width: 100%;
                }
                @include media(sm) {
                  width: 50%;
                }
                i {
                  padding-left: 10px;
                  @include media(xs) {
                    font-size: 2rem;
                  }
                  @include media(md) {
                    font-size: 1.8rem;
                  }
                  @include media(lg) {
                    font-size: 2.4rem;
                  }
                }
                &:hover {
                  background-color: #355698;
                }
              }
            }
          }
        }
      }
    }
  }

  .btn_home_wrapper {
    @include media(xs) {
      margin-bottom: 30%;
    }
    @include media(md) {
      margin-bottom: 20%;
    }
    @include media(lg) {
      margin-bottom: 16%;
    }
    a {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      max-width: 340px;
      padding: 10px 25px;
      color: white;
      transition: 0.3s ease-in-out;
      font-weight: 700;
      font-size: 2.4rem;
      background: #F27F3D;
      border-radius: 50px;
      border: 0.2rem solid #032059;
      box-shadow: 0.3rem 0.3rem 0px 0.2rem #032059;
      img {
        width: 8%;
        @include media(md) {
          width: 7%;
        }
        @include media(lg) {
          width: 7%;
        }
        animation: slideBlink 1.2s linear infinite;
        transition: ease-in-out;
      }
    }
    a:hover {
      transform: translate3d(0.2rem, 0.2rem, 0);
      box-shadow: none;
      opacity: 1;
      transition: all 0.2s;
    }
    @keyframes slideBlink {
      from {
        transform: translateX(3);
      }
      to {
        transform: translateX(20px);
      }
    }
  }
}
