$breakpoints: (
  'xs': 'screen and (min-width: 1px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
)!default;

@mixin media($breakpoint:md){
  @media #{map-get($breakpoints,$breakpoint)}{
    @content;
  }
}

.contact_page {
  padding-top: 150px;
  width: 90%;
  margin: 0 auto;
  @include media(xs) {
    margin-bottom: 13%;
  }
  .pageTitle {
    font-weight: 800;
    letter-spacing: 0.5rem;
    @include media(xs) {
      font-size: 3.2rem;
      margin-bottom: 13%;
    }
    @include media(sm) {
      font-size: 4rem;
      margin-bottom: 7%;
    }
    @include media(md) {
      font-size: 5.6rem;
      margin-bottom: 10%;
    }
    @include media(lg) {
      font-size: 6.4rem;
      margin-bottom: 7%;
    }
    img {
      width: 9%;
      margin-right: 16px;
      @include media(sm) {
        width: 8%;
      }
      @include media(md) {
        width: 7%;
        margin-right: 20px;
      }
      @include media(lg) {
        width: 4%;
        margin-right: 20px;
      }
    }
  }
  .contact_container {
    @include media(sm) {
      width: 80%;
      margin: 0 auto;
    }
    @include media(md) {
      width: 80%;
      margin: 0 auto;
    }
    @include media(lg) {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .left_message {
      @include media(xs) {
        margin-bottom: 12%;
      }
      @include media(sm) {
        margin-bottom: 10%;
      }
      @include media(lg) {
        padding: 0 32px 0 0 ;
        width: 50%;
      }
      h2.message {
        font-weight: 700;
        @include media(xs) {
          font-size: 2rem;
          margin-bottom: 8%;
        }
        @include media(sm) {
          font-size: 2.4rem;
          margin-bottom: 5%;
        }
        @include media(md) {
          font-size: 2.8rem;
          margin-bottom: 6%;
        }
        @include media(lg) {
          font-size: 3.2rem;
          margin-bottom: 5%;
        }
        span {
          color: #F27F3D;
        }
      }
      a.social_icon_bg {
        position: relative;
        display: inline-block;
        background-color: #032059;
        @include media(xs) {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 16px;
        }
        @include media(md) {
          width: 50px;
          height: 50px;
          margin-right: 24px;
        }
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          @include media(xs) {
            font-size: 2.4rem;
          }
          @include media(md) {
            font-size: 2.8rem;
          }

        }
      }

    }
    .right_form {
      position: relative;
      width: 100%;
      @include media(xs) {
        padding: 10%;
        min-height: 500px;
        margin-bottom: 20%;
      }
      @include media(sm) {
        min-height: 400px;
      }
      @include media(lg) {
        width: 50%;
        padding: 5%;
        margin-bottom: 3%;
      }
      img.form_bg {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 60px 5px 60px 5px;
        box-shadow: 0 0 10px 0 rgb(96 108 123 / 20%);
      }
      .inputList {
        @include media(xs) {
          margin-bottom: 10%;
        }
        @include media(lg) {
          margin-bottom: 8%;
        }
        label {
          font-weight: 600;
          @include media(xs) {
            font-size: 1.6rem;
          }
          @include media(md) {
            font-size: 1.8rem;
          }
          @include media(lg) {
            font-size: 2.4rem;
          }
        }
        .form-control {
          border: 1px solid #032059;
          box-shadow: 0 0 5px 0 rgb(96 108 123 / 20%);
          @include media(xs) {
            font-size: 1.6rem;
          }
          @include media(md) {
            font-size: 2rem;
          }
        }
        re-captcha{
          @include media(xs) {
            transform:scale(0.77);
            -webkit-transform:scale(0.77);
            transform-origin: 0 0;
            -webkit-transform-origin:0 0;
          }
        }
      }
      button.submit_btn {
        background-color: #F27F3D;
        border: none;
        text-align: center;
        color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(80, 90, 103, 0.4);
        @include media(xs) {
          margin-top: 10%;
          font-size: 2rem;
          width: 100%;
          padding: 5px 0;
          margin-bottom: 8%;
        }
        @include media(sm) {
          margin-top: 3%;
          padding: 8px 0;
          margin-bottom: 5%;
        }
        @include media(md) {
          margin-top: 0;
          margin-bottom: 5%;
        }
        @include media(lg) {
          margin-top: 0;
          padding: 16px 0;
        }
        i {
          @include media(xs) {
            margin-left: 16px;
          }
        }
      }
      .submission_success {
        font-weight: 700;
        @include media(xs) {
          font-size: 1.8rem;
        }
        @include media(sm) {
          font-size: 2rem;
        }
        @include media(lg) {
          font-size: 2.4rem;
        }
        span {
          color: #F27F3D;
          @include media(xs) {
            font-size: 2rem;
          }
          @include media(sm) {
            font-size: 2.4rem;
          }
          @include media(lg) {
            font-size: 2.8rem;
          }
        }
      }
    }
  }
}
