<portfolio-header></portfolio-header>
<section class="contact_page">
  <div class="contact_container">
    <div class="left_message">
      <h1 class="pageTitle">
        <!-- <img src="../../assets/arrow_orange_right.svg" alt="Machika Yamauchi portfolio web developer arrow icon"> -->
        Contact me
      </h1>
      <h2 class="message">I'm looking for <span>full-time work</span> in the Vancouver area. I'm open to <span>all possibilities.</span></h2>
      <h2 class="message">If you are interested in me, I am looking forward to <span>talking with you.</span></h2>
      <h2 class="message">Thank you!</h2>
    </div>
    <div class="right_form">
      <!-- <img class="form_bg" src="../../assets/home_hero.png" alt="Machika Yamauchi portfolio web developer hero image"> -->
      <div class="container-fluid">
        <form #form="ngForm" (ngSubmit)="submit(form)">
          <div class="inputList">
            <label for="name" class="form-label">Your Name</label>
            <input
              #name_="ngModel"
              [(ngModel)]="name"
              name="name"
              type="text"
              class="form-control"
              required
              minlength="3"
              id="name"
            />
            <div
            class="alert"
            role="alert"
            *ngIf="name_.touched && name_.invalid"
            >
            Please enter your name.
            </div>
          </div>
          <div class="inputList">
            <label for="email" class="form-label">Email Address</label>
            <input
              name="email"
              #email_="ngModel"
              [(ngModel)]="email"
              type="email"
              required
              pattern="^[^s@]+@[^s@]+.[^s@]{2,}$"
              class="form-control"
              id="email"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
            <div
              class="alert"
              role="alert"
              *ngIf="email_.touched && email_.invalid"
            >
            Please enter your email in 'name@example.com' format.
            </div>
          </div>
          <div class="inputList">
            <label for="message" class="form-label">Message</label>
            <textarea
              name="message"
              #message_="ngModel"
              [(ngModel)]="message"
              type="text"
              class="form-control"
              id="message"
              rows="5"
              required
              minlength="2"
              >
            </textarea>
            <div
              class="alert"
              role="alert"
              *ngIf="message_.touched && message_.invalid"
              >
              Please enter your message.
            </div>
          </div>
          <div class="inputList">
            <re-captcha (resolved)="resolved($event)"
            siteKey="6LcjP-cgAAAAACtadodEUZTplCfGX3u6yXZ3e4fq"></re-captcha>
          </div>
          <button type="submit" class="btn submit_btn" [disabled]="formInvalid">Submit<i class="fa-solid fa-paper-plane"></i></button>
          <div class="submission_success" [hidden]="formMessageHidden">
            Thank you for contacting me!<br>I will get in touch with you soon!
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<portfolio-footer></portfolio-footer>
