<portfolio-header></portfolio-header>
<section class="contact_page">
  <h1 class="pageTitle">
    <span><img [src]="aboutMe.data.attributes.Arrow_Orange_Right.data.attributes.url" alt="">Contact me</span>
  </h1>
  <div class="contact_container">
    <div class="left_message">
      <h2 class="message">I am looking forward to listenig to your story!</h2>
      <h2 class="message">Thank you!</h2>
      <i class="fa-brands fa-linkedin-in linkedin"></i>
      <i class="fa-brands fa-github github"></i>

    </div>
    <div class="right_form">
      <img class="form_bg" [src]="aboutMe.data.attributes.HomeHeroImage.data.attributes.url" alt="">
      <div class="container">
        <div class="forminput">
          <label for="name" class="form-label">Your Name</label>
          <input [(ngModel)]="name" type="text" class="form-control" id="name" aria-describedby="nameHelp">
        </div>
        <div class="forminput">
          <label for="email" class="form-label">Email Address</label>
          <input [(ngModel)]="email" type="email" class="form-control" id="email">
        </div>
        <div class="forminput">
          <label for="message" class="form-label">Message</label>
          <textarea [(ngModel)]="message" class="form-control" id="message" rows="3"></textarea>
        </div>
        <!-- <div class="mt-3">
          <re-captcha (resolved)="resolved($event)"
          siteKey="6LcjP-cgAAAAACtadodEUZTplCfGX3u6yXZ3e4fq"></re-captcha>
        </div> -->
        <button (click)="submit()" [disabled]="formInvalid">Submit<i class="fa-solid fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</section>
<portfolio-footer></portfolio-footer>
