.update {
  width: 500px;
  padding: 56px 0;
}

img {
  width: 30%;
}

.error {
  color: red;
  font-weight: bold;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  margin-top: 32px;
  width: 45%;
}
