.update {
  width: 60%;
  padding: 40px 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #503629;
  background-color: #f9f9f9;
  margin-bottom: 100px;
  h1 {
    font-size: 40px;
    margin: 32px 0;
    font-weight: 700;
  }
  width: 60%;
  padding: 40px 0;
  h3.title {
    font-size: 40px;
    margin-bottom: 32px;
    font-weight: 700;
  }
  #formFile, .form-control {
    font-size: 16px;
  }
  .btn_update {
    font-size: 24px;
    margin: 48px 0 32px 0;
  }
  .btn_admin {
    font-size: 24px;
  }
  .error {
    color: red;
    font-weight: bold;
  }
}
