<section class="login_benchbakery">
  <div class="container center login">
    <h1>Log in</h1>
      <div class="input_container">
        <label for="exampleInputPassword1" class="form-label">User name</label>
        <input [(ngModel)]="username" type="text" class="form-control" id="exampleInputPassword1">
        <p>To login, please enter "name".</p>
      </div>
      <div class="input_container">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1">
        <p>To login, please enter "12345".</p>
      </div>
      <div class="input_container">
        <re-captcha (resolved)="resolved($event)"
        siteKey="6LcjP-cgAAAAACtadodEUZTplCfGX3u6yXZ3e4fq"></re-captcha>
      </div>
      <button class="btn btn-primary w-100 btn_login" (click)="login()" [disabled]="formInvalid">Log in</button>
      <button type="button" class="btn btn-outline-primary w-100 btn_home" routerLink="/benchbakery/home">Back to Homepage</button>
      <div *ngIf="!loginStatus" class = "error">
        Your login credentials are incorrect. Please re-enter your email and password
      </div>
  </div>
</section>
