<portfolio-header></portfolio-header>
<section class="birdbooks_casestudy">
  <div class="introduction">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left_panel">
            <h1 class="project_title">BirdBooks</h1>
            <p class="project_summary">Designing freelance solution for projects and payments</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right_panel">
            <h2 class="title">Challenge</h2>
            <p class="challenge_description">
              Managing multiple clients and projects is a part of running a business as a freelancer. However, sometimes clients don't pay on time. How do you help freelance business owners keep track of payments from their clients, and make sure that they receive payments from clients promptly for every project?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project_overview">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="objective">
            <h2 class="title">Objective</h2>
            <p>
              Design finance application features for freelancers to manage their clients and get paid on time.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="what_I_did">
            <h2 class="title">What I did</h2>
            <ul>
              <li>Market & Competitive research</li>
              <li>Define problems(User journey map)</li>
              <li>Ideation & concept</li>
              <li>Interaction design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step1">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="stepTag">Step1</div>
        </div>
        <div class="col-lg-10">
          <div class="step1_text">
            <h2 class="title">Market & Competitive Research</h2>
            <div class="secondary_research">
              <h3 class="subtitle">Secondary research to understand the situation of freelancers</h3>
              <p>
                To learn about the situation of freelancers, I started with secondary research about common problems which freelancers have with the help of Google. Through the secondary research, I was able to gain a thorough finding of common problems of freelancers.
              </p>
              <p>
                Here are some of the common problems that I discovered:
              </p>
              <ul>
                <li>Time management</li>
                <li>Finding job</li>
                <li>Getting lonely, getting bored</li>
                <li>Motivation</li>
                <li>Managing an irregular income</li>
              </ul>
              <p>
                Then, to understand how freelancers feel about getting payment problems, instead of conducting user interviews or user surveys, I searched it on Twitter with searching words “freelancer getting paid”. Then I could find some representative tweets below.
              </p>
              <ul>
                <li>
                  “Companies, please pay your freelancers. Chasing payments, sometimes for a year, should not be a thing.”
                </li>
                <li>
                  “A reminder for all freelancers out there:Never start working without getting paid. Ever. You will save yourself so much time and nerves this way”
                </li>
                <li>
                  “The hardest part of being a freelancer is just getting paid within a reasonable amount of time by any clients. Sometimes can take weeks (at best) or months. Right now 10% of my (estimated) income is just in the wind and I wait.And I'd say I have to check in with clients about 1/5 th of the time to ask where my payment is and sometimes I wonder what would happen if I didn't. Like would it never come?”
                </li>
              </ul>
              <p>
                From this research, I figured out that freelancers were struggling with time management for getting paid on time.  I set this discovery as a key point to creating personas and user journey maps.
              </p>
            </div>
            <div class="market_research">
              <h3 class="subtitle">Market Research to get insights into solutions</h3>
              <p>
                Before conducting competitive analysis, I wanted to understand what kind of applications for solving the getting paid problems exist on the market, and to get insights into how freelancers cope with the problems, I conducted the market research. In this research, I could understand sending invoices promptly and reminding the clients are important to get payment from clients.
              </p>
              <p>Here are some of the methods to get paid that I discovered:</p>
              <ul>
                <li>Draw up a contract</li>
                <li>Request a deposit</li>
                <li>Invoice promptly</li>
                <li>Make payment methods easy for clients</li>
                <li>Send a friendly reminder</li>
                <li>Charge a late payment fee</li>
                <li>Drop late-paying clients</li>
              </ul>
            </div>
            <div class="competitive_analysis">
              <h3 class="subtitle">Competitive Analysis to understand users' pain points</h3>
              <p>
                After conducting my secondary and market research, I proceeded to competitive analysis of 3 finance applications that I found in the market research, in order to find their strength and weakness points which help me to design the new application.
              </p>
              <div class="row">
                <div class="col-lg-4">
                  <div class="analysis_card">
                    <img src="../../assets/birdbooks/Hectic_logo.svg" alt="Machika Yamauchi portfolio case studies competitive analysis logo">
                    <div class="strength_container">
                      <h4>Strength</h4>
                      <ul>
                        <li>Amazing customer service (fast and thoughtful response every time)</li>
                        <li>When there's a bug they fix it very soon such as  same-day</li>
                        <li>The price is very reasonable with all features that freelancers need</li>
                      </ul>
                    </div>
                    <h4>Weakness</h4>
                    <ul>
                      <li>The app, being new, is a little buggy.</li>
                      <li>No variety templates for invoices and documents</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="analysis_card">
                    <img src="../../assets/birdbooks/wave_logo.svg" alt="Machika Yamauchi portfolio case studies competitive analysis logo">
                    <div class="strength_container">
                      <h4>Strength</h4>
                      <ul>
                        <li>Can be integrated with other software and tools to make the accounting process easier.</li>
                        <li>Able to access from any computer anywhere because of cloud-based</li>
                        <li>Professional design invoice</li>
                      </ul>
                    </div>
                    <h4>Weakness</h4>
                    <ul>
                      <li>The customer service is useless(only online, no actual phone to call)</li>
                      <li>Not being able to schedule recurring bills</li>
                      <li>The Bank account linking is broken.</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="analysis_card">
                    <img src="../../assets/birdbooks/Freshbooks_logo.svg" alt="Machika Yamauchi portfolio case studies competitive analysis logo">
                    <div class="strength_container">
                      <h4>Strength</h4>
                      <ul>
                        <li>Automation for sending reminders</li>
                        <li>A wide array of attractive and professional-looking template designs for invoices, and other documents.</li>
                      </ul>
                    </div>
                    <h4>Weakness</h4>
                    <ul>
                      <li>No free plans</li>
                      <li>The new interface version is buggy and slow, causing customers not to be able to access and pay invoices. </li>
                    </ul>
                  </div>
                </div>
              </div>
              <p>
                Through this analysis, I checked the reviews of each application. From the review, I could understand which points the users feel pain and frustration. This discovery helps me make the personas and user journey maps to set their goals and pain points.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step2">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="stepTag">step2</div>
        </div>
        <div class="col-lg-10">
          <div class="step2_text">
            <h2 class="title">Defining the Problems</h2>
            <div class="persona">
              <h3 class="subtitle">Personas that represent pain points found by research</h3>
              <p>
                Using what I learned from my secondary and market research, I created two user personas that represented pain points found by market and secondary research.
                <br>
                By creating personas, I could understand their goal and frustrations deeply and help me guide my design decisions based on users centered solutions.
              </p>
              <div class="personaImage_container">
                <img src="../../assets/birdbooks/Persona1.png" alt="">
                <img src="../../assets/birdbooks/Persona2.png" alt="">
              </div>
            </div>
            <div class="user_journey_map">
              <h3 class="subtitle">User journey map to figure out users' mindsets and emotions</h3>
              <p>
                Based on what I found in my research, I created user journey maps to better understand the pain points from the user's perspective and to come up with possible solutions for the pain points.
                <br>
                Through user journey maps, I could figure out how the users' mindsets and emotions changed on each journey phase.
              </p>
              <div class="user_journeyImage_container">
                <img src="../../assets/birdbooks/UserJourney1.png" alt="">
                <img src="../../assets/birdbooks/UserJourney2.png" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="step3">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="stepTag">step3</div>
        </div>
        <div class="col-lg-10">
          <div class="step3_text">
            <h2 class="title">Design Solutions</h2>
            <div class="wireframe">
              <h3 class="subtitle">Sketches and wireframes to come up with ideas</h3>
              <p>
                Using everything I learned throughout this phase, I worked on creating sketches and digital wireframes to make informed decisions on how to design new screens to help users complete the tasks and meet their goals.
              </p>
              <p>
                A challenge was how to design features from the login page to each tasks pages such as managing the client payment status, sending invoices,s and setting invoice reminders. To work on this challenge, I reflect on common design patterns that I found in actual finance applications.
              </p>
              <div class="wireframeImage_container">
                <img src="../../assets/birdbooks/Wireframes.png" alt="">
              </div>
            </div>
            <div class="branding">
              <h3 class="subtitle">Branding attributes and creating style tile</h3>
              <p>
                Before creating UI designs, I set brand attributes: professional, simple, smart, and trustworthy from personas images, and I gathered some illustration images to represent the business attributes.
                <br>
                I started sketching some ideas for BirdBooks' logo. After brainstorming ideas, I created the final logo.
              </p>
              <h4>Color</h4>
              <p>
                I chose blue base colors to represent professionalism and trustworthiness for an accent color, and gray-based colors for the base color to feel simple and smart.
              </p>
              <h4>Typography</h4>
              <p>
                I chose sans-serif “Overpass“, a simple font that gives a reliable impression and for readability.
              </p>
              <div class="styletileImage_container">
                <img src="../../assets/birdbooks/Style_Tile.png" alt="">
              </div>
            </div>
            <div class="mockup_prototype">
              <h3 class="subtitle">Product development on mockup and prototype</h3>
              <h4>Mockup</h4>
              <p>
                With the branding for BirdBooks, I crafted a high-fidelity mockup.
              </p>
              <div class="mockupImage_container">
                <img src="../../assets/birdbooks/Mockup.png" alt="">
              </div>
              <h4>Prototype</h4>
              <p>I built up the final prototype based on a hi-fi mockup.</p>
              <div class="prototype_btn">
                <a href="https://www.figma.com/proto/7snHlZBJXKU68hFdNphfbP/BirdBooks-%2F-VanArts-project?page-id=157%3A43&node-id=157%3A44&viewport=883%2C413%2C0.06&scaling=min-zoom&starting-point-node-id=157%3A44" target="_blank">
                  View Prototype
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step4">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="stepTag">step4</div>
        </div>
        <div class="col-lg-10">
          <div class="step4_text">
            <h2 class="title">Reflection</h2>
            <div class="reflection_container">
              <h3 class="subtitle">What I learn from this project</h3>
              <ul>
                <li>Learned the importance of putting myself in the user's shoes to come up with solutions</li>
                <li>Taking time for research leads to getting beneficial insights and solutions</li>
                <li>Learned the necessary to set the scope for prioritizing the problems to reach best solution </li>
              </ul>
              <h3 class="subtitle">Next steps</h3>
              <ul>
                <li>
                  Learned the necessary to set the scope for prioritizing the problems to reach the best solution
                </li>
                <li>
                  To conduct prioritizing map to set the scope for identifying which pain points should be tackled
                </li>
              </ul>
              <p class="thank_you">Thank you for reading my project!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn_projects_wrapper">
    <a routerLink="/projects">
      Back to Home
      <img [src]="aboutMe.data.attributes.Arrow_Orange_Right.data.attributes.url" alt="">
    </a>
  </div>
</section>

<portfolio-footer></portfolio-footer>
