<portfolio-header></portfolio-header>
<section class="plusvault_casestudy">
  <div class="introduction">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left_panel">
            <h1 class="project_title">PlusVault</h1>
            <p class="project_summary">Designing an E-commerce website for plus-size female jeans</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right_panel">
            <h2 class="title">Challenge</h2>
            <p class="challenge_description">
              PlusVault is a fashion startup that sells plus-size jeans. Their items are made with sustainable materials and are available online only. Their target audience is millennial women. They want to showcase body positivity and diversity in fashion.
              They need a way to provide their customers a way to shop effectively and efficiently online. Also, they would like to do a complete branding.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project_overview">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="objective">
            <h2 class="title">Objective</h2>
            <p>
              Design a e-commerce website that allows plus-size women to explore jeans products and take process to checkout.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="what_I_did">
            <h2 class="title">What I did</h2>
            <ul>
              <li>Market & Competitive research</li>
              <li>User surveys</li>
              <li>Define problems(User journey map)</li>
              <li>Ideation & concept</li>
              <li>Interaction design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step1">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="stepTag">Step1</div>
        </div>
        <div class="col-lg-10">
          <div class="step1_text">
            <h2 class="title">Market & Competitive Research</h2>
            <div class="market_research">
              <h3 class="subtitle">Market research for the target audience and the fashion industry</h3>
              <p>
                To get more familiar with the general fashion market and target audience, I started by conducting market research. I searched these topics below:
              </p>
              <ul>
                <li>How do plus-size women feel about shopping?</li>
                <li>Issues with body positivity</li>
                <li>Sustainability issue in fashion</li>
                <li>Characteristics of millennial women</li>
                <li>Diversity in the fashion industry</li>
                <li>Fair Trade clothing</li>
              </ul>
              <p>
                Through my market research, I was able to gather the information that helped me understand more deeply what plus-size women demand and the problems in the fashion industry. Here are some key findings from my research:
              </p>
              <ul>
                <li>
                  Customers in the plus-size category now demand fashionable and modern garments that are available readily in larger sizes.
                </li>
                <li>
                  What plus women really want is to not be limited in choice.
                </li>
                <li>
                  It's estimated that the fashion industry as a whole contributes more to climate change than the aeronautical and shipping industries combined.
                </li>
                <li>
                  Fashion doesn't just sell garments, it sells self-esteem and personal identity; fashion cannot fulfill its true duty as an art form if it is not diverse or inclusive.
                </li>
              </ul>
            </div>
            <div class="competitive_analysis">
              <h3 class="subtitle">Competitive Analysis for 3 plus-size fashion websites</h3>
              <p>
                After conducting my market research, I proceeded to PlusVault's 3 competitors' analysis to see what their strengths and weaknesses were. With this analysis, I was able to better understand the different approaches that the brands took in order to address a similar problem as plus-size shopping sites, and apply this information to help make the best decisions for PlusVault's website.
              </p>
              <div class="row">
                <div class="col-lg-4">
                  <div class="analysis_card">
                    <img src="../../assets/plusvault/Torrid_logo.png" alt="Machika Yamauchi portfolio case studies competitive analysis logo">
                    <div class="strength_container">
                      <h4>Strength</h4>
                      <ul>
                        <li>Multiple choices for the type of jeans</li>
                        <li>Plenty of filters for size, color, price, fit, and so on</li>
                        <li>Filters include inseam choices</li>
                      </ul>
                    </div>
                    <h4>Weakness</h4>
                    <ul>
                      <li>Cannot check color choices with each product on the shop page</li>
                      <li>It takes some time to update the page after checking the size and inseam on the product detail page</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="analysis_card">
                    <img src="../../assets/plusvault/LAURA_logo.svg" alt="Machika Yamauchi portfolio case studies competitive analysis logo">
                    <div class="strength_container">
                      <h4>Strength</h4>
                      <ul>
                        <li>Can check some color choices on the shop page</li>
                        <li>Images on the product detail page are big and detailed</li>
                      </ul>
                    </div>
                    <h4>Weakness</h4>
                    <ul>
                      <li>No rating stars with each product on the shop page</li>
                      <li>After clicking the "Add to Cart" button, just the button text changes to “ADDED!”. The pop-up information including the item detail does not appear.</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="analysis_card">
                    <img src="../../assets/plusvault/Penningtons_logo.svg" alt="Machika Yamauchi portfolio case studies competitive analysis logo">
                    <div class="strength_container">
                      <h4>Strength</h4>
                      <ul>
                        <li>Multiple choices for the type of jeans</li>
                        <li>After I add the products to the cart, I can see the delivery cost on the pop-up.</li>
                      </ul>
                    </div>
                    <h4>Weakness</h4>
                    <ul>
                      <li>The font size of the products name and price are small</li>
                      <li>Cannot check color choices on each product on the shop page</li>
                      <li>The "My Bag" page does not have enough white space, so it is not easy to view the page at some points.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="user_survey">
              <h3 class="subtitle">User surveys for 11 millennial women about e-commerce website usability</h3>
              <p>
                While I had a better understanding of the market and PlusVault's competitors, I wanted to dive more deeply into online shopping users' goals, pain points, and needs. That is why I conducted user surveys for 11 millennial women using Google Forms with multiple choices and free answers.
              </p>
              <p>Some of the questions are:</p>
              <ul>
                <li>What is the goal of your visit to the fashion brand website?</li>
                <li>Why do you buy clothes online?</li>
                <li>What is the issue you face with shopping online?</li>
                <li>What is stopping you from buying products?</li>
                <li>In what situations do you feel the website is not easy to use?</li>
              </ul>
              <p>
                Through the survey, I could understand users' goals and pain points for buying clothes online. Although they appreciate the convenience such as delivery, they continued tostruggle with the clothes size, product category, and method of payment.
              </p>
              <h4>Goals</h4>
              <ul>
                <li>To get items with delivery.</li>
                <li>To check reviews.</li>
                <li>To purchase the products cheaper</li>
                <li>To check the variety of products (Some online sites have multiple clothes than in-store.)</li>
              </ul>
              <h4>Pain points</h4>
              <ul>
                <li>Most users have frustrations that the products are not their size.</li>
                <li>Some of them have experiences that delivered products are different from the images on the website.</li>
                <li>Products category is too much to find what they would like to know.</li>
                <li>The Payment method choice is complicated.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="step2">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="stepTag">step2</div>
        </div>
        <div class="col-lg-10">
          <div class="step2_text">
            <h2 class="title">Defining the Problems</h2>
            <div class="persona">
              <h3 class="subtitle">Personas to understand user's goals and frustrations</h3>
              <p>
                With a well-rounded understanding of the users' goals, needs, motivations, and frustrations, I created two personas: Jessica Anderson and Kristin Watson. The personas were created based on all the insights gained from my research, mainly thinking about the character of millennial women and plus-size women. With these personas, I continued design for Jessica and Kristin throughout the whole process.
              </p>
              <div class="personaImage_container">
                <img src="../../assets/plusvault/Persona1.png" alt="">
                <img src="../../assets/plusvault/Persona2.png" alt="">
              </div>
            </div>
            <div class="user_journey_map">
              <h3 class="subtitle">User journey map to define customers act and the core problems</h3>
              <p>
                Based on the synthesis of my research, I began creating user journey maps to understand the entire experience from the user's standpoint. Through the map, I could discover the process of defining how customers act in purchasing items, the core problems that needed to be solved, and the strategy to come up with solutions.
              </p>
              <div class="user_journeyImage_container">
                <img src="../../assets/plusvault/UserJourneyMap1.png" alt="">
                <img src="../../assets/plusvault/UserJourneyMap2.png" alt="">
              </div>
            </div>
            <div class="information_architecture">
              <h3 class="subtitle">Information Architecture to define customers' process</h3>
              <p>
                Following the user journey map, to organize and structure all relevant entities in a user-centric way, I laid out the information architecture of users visiting the site, adding items to the cart, and going through PlusVault's checkout process. The architecture helps me identify and consider how various pages and tasks are connected throughout the whole website.
              </p>
              <div class="architectureImage_container">
                <img src="../../assets/plusvault/Information_Architecture.png" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="step3">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="stepTag">step3</div>
        </div>
        <div class="col-lg-10">
          <div class="step3_text">
            <h2 class="title">Design Solutions</h2>
            <div class="wireframe">
              <h3 class="subtitle">Sketches & Wireframes to come up with ideas</h3>
              <p>
                At this point, I started sketching different ideas for the layout of PlusVault's website reflecting two personas' needs and also common design patterns that I researched on the web.
              </p>
              <p>
                A challenge I faced was finding how to display a variety of sizes and how to process for checkout. Based on existing design patterns, I set a variety of size choices on the homepage based on the user's expectations and set each page on each checkout process by showing which step the users are at.
              </p>
              <p>
                After choosing the one that best fit the personas' goals and needs, I worked on digital versions of pages to solidify the layout of the website.
              </p>
              <div class="wireframeImage_container">
                <img src="../../assets/plusvault/Wireframes.png" alt="">
              </div>
            </div>
            <div class="branding">
              <h3 class="subtitle">Branding attributes and creating style tile</h3>
              <p>
                Before moving on to the mockup of the website, it was time to work on the branding of PlusVault's company. I set brand attributes such as modern. neutral. simple minimal from PlusVault's business that focuses on diversity and sustainability, and I started gathering ideas by creating a mood board to set the direction of their new branding.
              </p>
              <p>
                I started sketching some ideas for PlusVault's logo. After brainstorming ideas, I created the final logo which I thought best-reflected PlusVault's new branding.
              </p>
              <h4>Color</h4>
              <p>
                I chose some colors that millennial women can feel modern and simple, and other competitors do not seem to use.
              </p>
              <h4>Typography</h4>
              <p>
                I chose sans-serif “Futura“ for the heading and “Nuhito” for body text, a neutral and simple font that gives a reliable impression that helps to reflect the PlusVault's business image.
              </p>
              <div class="styletileImage_container">
                <img src="../../assets/plusvault/Style_Tile.png" alt="">
              </div>
            </div>
            <div class="mockup_prototype">
              <h3 class="subtitle">Product development on mockup and prototype</h3>
              <h4>Mockup</h4>
              <p>With the branding for PlusVault defined, I crafted a high-fidelity mockup.</p>
              <div class="mockupImage_container">
                <img src="../../assets/plusvault/Mockup.png" alt="">
              </div>
              <h4>Prototype</h4>
              <p>I made the final prototype based on a hi-fi mockup.</p>
              <div class="prototype_btn">
                <a href="https://www.figma.com/proto/iTWW87i6a3b7NT4eqjUcpX/PlusVault-%2F-VanArts-project?page-id=173%3A4&node-id=173%3A2083&viewport=188%2C506%2C0.03&scaling=min-zoom&starting-point-node-id=173%3A2083" target="_blank">
                  View Prototype
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step4">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="stepTag">step4</div>
        </div>
        <div class="col-lg-10">
          <div class="step4_text">
            <h2 class="title">Reflection</h2>
            <div class="reflection_container">
              <h3 class="subtitle">What I learn from this project</h3>
              <ul>
                <li>
                  Learned the importance of user surveys, giving me more insights that I cannot gain from market research and competitive analysis.
                </li>
                <li>
                  To stand out and learn what other competitors provide the service, a competitive audit is essential.
                </li>
                <li>
                  Figured out how important setting personas and user journey map is to understand users' goals, needs, and pain points, and to discover solutions to solve users’ pain points.
                </li>
                <li>
                  Information architecture is crucial to get whole entities structured.
                </li>
                <li>
                  Learned the necessary to set the scope for prioritizing which pain points or solutions to deal with.
                </li>
              </ul>
              <h3 class="subtitle">Next steps</h3>
              <ul>
                <li>
                  To conduct user interviews or prototype testing to listen to what users feel directly and to iterate products.
                </li>
                <li>
                  To conduct prioritizing map to set the scope for identifying which pain points should be tackled.
                </li>
              </ul>
              <p class="thank_you">Thank you for reading my project!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<portfolio-footer></portfolio-footer>
