$breakpoints: (
  'xs': 'screen and (min-width: 1px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
)!default;

@mixin media($breakpoint:md){
  @media #{map-get($breakpoints,$breakpoint)}{
    @content;
  }
}



.loadingScreen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .flower-spinner,  .flower-spinner * {
    box-sizing: border-box;
  }

  .flower-spinner {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flower-spinner .dots-container {
    height: calc(70px / 7);
    width: calc(70px / 7);
  }

  .flower-spinner .smaller-dot {
    background: #f27f3d;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: flower-spinner-smaller-dot-animation 2.5s 0s infinite both;

  }

  .flower-spinner .bigger-dot {
    background: #f27f3d;
    height: 100%;
    width: 100%;
    padding: 10%;
    border-radius: 50%;
    animation: flower-spinner-bigger-dot-animation 2.5s 0s infinite both;
  }

  @keyframes flower-spinner-bigger-dot-animation {
    0%, 100% {
      box-shadow: rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px;
    }

    50% {
      transform: rotate(180deg);
    }

    25%, 75% {
      box-shadow: rgb(242, 127, 61) 26px 0px 0px,
      rgb(242, 127, 61) -26px 0px 0px,
      rgb(242, 127, 61) 0px 26px 0px,
      rgb(242, 127, 61) 0px -26px 0px,
      rgb(242, 127, 61) 19px -19px 0px,
      rgb(242, 127, 61) 19px 19px 0px,
      rgb(242, 127, 61) -19px -19px 0px,
      rgb(242, 127, 61) -19px 19px 0px;
    }

    100% {
      transform: rotate(360deg);
      box-shadow: rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px;
    }
  }

  @keyframes flower-spinner-smaller-dot-animation {
    0%, 100% {
      box-shadow: rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px,
      rgb(242, 127, 61) 0px 0px 0px;
    }

    25%, 75% {
      box-shadow: rgb(3, 32, 89) 14px 0px 0px,
      rgb(3, 32, 89) -14px 0px 0px,
      rgb(3, 32, 89) 0px 14px 0px,
      rgb(3, 32, 89) 0px -14px 0px,
      rgb(3, 32, 89) 10px -10px 0px,
      rgb(3, 32, 89) 10px 10px 0px,
      rgb(3, 32, 89) -10px -10px 0px,
      rgb(3, 32, 89) -10px 10px 0px;
    }

    100% {
      box-shadow: rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px,
      rgb(3, 32, 89) 0px 0px 0px;
    }
  }
}

section.projectDetail_page {
  .hero {
    background-color: #EFE8D6;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    @include media(xs) {
      padding: 120px 0 80px 0;
      min-height: 400px;
      margin-bottom: 56px;
    }
    @include media(sm) {
      padding: 180px 0 80px 0;
    }
    @include media(md) {
      width: 100%;
      background:linear-gradient(125deg,#faf8f2 0%,#faf8f2 60%,#EFE8D6 60%,#EFE8D6 100%);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 300px;
    }
    @include media(lg) {
      padding-top: 150px;
      min-height: 600px;
    }
    .heroContent_wrapper {
      @include media(xs) {
        width: 80%;
        margin: 0 auto;
      }
      @include media(sm) {
        width: 80%;
        margin: 0 auto;
      }
      @include media(md) {
        width: 50%;
        padding-left: 10%;
      }
      @include media(lg) {
        padding-left: 10%; // To adjust page grid
      }
      h1.project_title {
        font-weight: 700;
        letter-spacing: 0.3rem;
        @include media(xs) {
          font-size: 2.8rem;
          margin-bottom: 40px;
        }
        @include media(sm) {
          font-size: 4rem;
        }
        @include media(md) {
          font-size: 3.2rem;
          margin-bottom: 24px;
        }
        @include media(lg) {
          font-size: 4.8rem;
          margin-bottom: 48px;
        }
      }
      .link_wrapper {
        @include media(md) {
          display: flex;
        }
        a {
          display: block;
          color: white;
          text-align: center;
          border-radius: 50px;
          @include media(xs) {
            padding: 10px;
            margin-bottom: 20px;
            font-size: 1.8rem;
          }
          @include media(md) {
            padding: 4px;
            font-size: 1.6rem;
          }
          @include media(lg) {
            padding: 8px;
            font-size: 2rem;
          }
        }
        .viewSite {
          background-color: #F27F3D;
          width: 100%;
          @include media(md) {
            width: 50%;
            margin-right: 20px;
          }
          i {
            font-size: 2.4rem;
            padding-left: 10px;
            @include media(md) {
              font-size: 1.8rem;
            }
            @include media(lg) {
              font-size: 2.4rem;
            }
          }
          &:hover {
            background-color: #f6a374;
          }
        }
        .github_casestudy {
          background-color: #032059;
          width: 100%;
          @include media(md) {
            width: 50%;
          }
          i {
            font-size: 2.4rem;
            padding-left: 10px;
            @include media(md) {
              font-size: 1.8rem;
            }
            @include media(lg) {
              font-size: 2.4rem;
            }
          }
          &:hover {
            background-color: #355698;
          }
        }
      }
    }
    .projectImage {
      background-position: top;
      background-size: cover;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(96 108 123 / 30%);
      @include media(xs) {
        height: 160px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 32px;
      }
      @include media(sm) {
        height: 240px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 32px;
      }
      @include media(md) {
        padding-right: 10%;
        width: 60%;
        height: 250px;
        margin-right: 9%;
        margin-left: 8%;
      }
      @include media(lg) {
        padding-right: 10%;
        width: 50%;
        height: 350px;
        margin-right: 9%;
        margin-left: 8%;
      }
    }
  }

  .overview {
    @include media(xs) {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 56px;
    }
    @include media(sm) {
      margin-bottom: 56px;
    }
    @include media(md) {
      margin-bottom: 56px;
    }
    @include media(lg) {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 56px;
    }
    .container {
      margin: 0;
      padding: 0;
    }
    h2.title_overview {
      font-weight: 700;
      letter-spacing: 0.3rem;
      color: #F27F3D;
      @include media(xs) {
        font-size: 2.8rem;
        margin-bottom: 24px;
      }
      @include media(md) {
        font-size: 4rem;
      }
      @include media(lg) {
        font-size: 4.8rem;
      }
    }
    .left_panel {
      @include media(xs) {
        margin-bottom: 40px;
      }
      .item {
        @include media(xs) {
          margin-bottom: 24px;
        }
        @include media(sm) {
          margin-bottom: 10px;
        }

        h3.title {
          font-weight: 800;
          letter-spacing: 0.3rem;
          @include media(xs) {
            font-size: 2rem;
            padding-right: 8px;
          }
        }
        ul.technology_useds {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0;
          li {
            list-style-type: none;
          }
        }
      }
    }
    .right_panel {
      .overview_text {
        margin-bottom: 40px;
      }
      @include media(lg) {
        padding-left: 56px;
        margin-bottom: 72px;
      }
    }

  }

  .btn_projects_wrapper {
    @include media(xs) {
      margin-bottom: 30%;
    }
    @include media(sm) {
      margin-bottom: 20%;
    }
    @include media(md) {
      margin-bottom: 20%;
    }
    @include media(lg) {
      margin-bottom: 16%;
    }
    a {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      max-width: 340px;
      padding: 10px 25px;
      color: white;
      transition: 0.3s ease-in-out;
      font-weight: 700;
      font-size: 2.4rem;
      background: #F27F3D;
      border-radius: 50px;
      border: 0.2rem solid #032059;
      box-shadow: 0.3rem 0.3rem 0px 0.2rem #032059;
      img {
        width: 8%;
        @include media(md) {
          width: 7%;
        }
        @include media(lg) {
          width: 7%;
        }
        animation: slideBlink 1.2s linear infinite;
        transition: ease-in-out;
      }
    }
    a:hover {
      transform: translate3d(0.2rem, 0.2rem, 0);
      box-shadow: none;
      opacity: 1;
      transition: all 0.2s;
    }
    @keyframes slideBlink {
      from {
        transform: translateX(3);
      }
      to {
        transform: translateX(20px);
      }
    }
  }
}

