$breakpoints: (
  'xs': 'screen and (min-width: 1px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
)!default;

@mixin media($breakpoint:md){
  @media #{map-get($breakpoints,$breakpoint)}{
    @content;
  }
}

.projectDetail_page {

  .hero {
    @include media(xs) {
      padding-top: 170px;
      background-color: #EFE8D6;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      min-height: 450px;
      margin-bottom: 40px;
    }
    @include media(sm) {
      padding-top: 130px;
      width: 100%;
      background:linear-gradient(125deg,#faf8f2 0%,#faf8f2 60%,#EFE8D6 60%,#EFE8D6 100%);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      min-height: 420px;
    }
    @include media(lg) {
      padding-top: 150px;
      min-height: 600px;
    }
    .heroContent_wrapper {
      @include media(xs) {
        width: 90%;
        margin: 0 auto;
      }
      @include media(sm) {
        width: 45%;
        padding-left: 5%;
      }
      h1.project_title {
        font-weight: 700;
        letter-spacing: 0.3rem;
        @include media(xs) {
          font-size: 2.8rem;
          margin-bottom: 40px;
        }
        @include media(sm) {
          font-size: 2.8rem;
        }
        @include media(md) {
          font-size: 3.2rem;
        }
        @include media(lg) {
          font-size: 4.8rem;
        }
      }
      .link_wrapper {
        display: flex;
        @include media(xs) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 40px;
        }
        @include media(sm) {
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-bottom: 24px;
        }
        a {
          display: block;
          color: white;
          text-align: center;
          font-size: 1.8rem;
          border-radius: 10px;
          @include media(xs) {
            margin: 8px;
            padding: 8px 0;
            width: 100%;
          }
          @include media(sm) {
            padding: 8px;
            margin: 0 16px 0 0;
          }
          @include media(lg) {
            font-size: 2rem;
          }
        }
        a.viewSite {
          background-color: #F27F3D;
          // width: 50%;
          &:hover {
            background-color: #f6a374;
          }
        }
        a.github {
          background-color: #032059;
          i {
            @include media(xs) {
              font-size: 3rem;
              padding-left: 16px;
            }
            @include media(sm) {
              font-size: 2.5rem;
              // padding-left: 16px;
            }
          }
          &:hover {
            background-color: #063ba5;
          }
        }
      }
    }
    .heroImage_wrapper {

      @include media(xs) {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
      }
      @include media(sm) {
        width: 55%;
        // display: flex;
        // justify-content: flex-end;
      }
      img {
        display: block;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgb(96 108 123 / 30%);
        @include media(xs) {
          width: 90%;
        }
        @include media(sm) {
          width: 80%;
        }
      }
    }
  }

  .overview {
    @include media(xs) {
      width: 90%;
      margin: 0 auto;
    }
    h2.title_overview {
      font-weight: 700;
      letter-spacing: 0.3rem;
      @include media(xs) {
        font-size: 2.4rem;
        margin-bottom: 24px;
      }
      @include media(md) {
        font-size: 4rem;
      }
      @include media(lg) {
        font-size: 4.8rem;
      }
    }
    .left_panel {
      @include media(xs) {
        margin-bottom: 40px;
      }

      h3.title {
        font-weight: 800;
        letter-spacing: 0.3rem;

        @include media(xs) {
          padding-right: 8px;
        }
      }
      ul.technology_useds {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        li {
          list-style-type: none;
        }
      }
    }
    .right_panel {
      .overview {
        margin-bottom: 40px;
      }
    }

  }
  .images {
    padding: 10%;
    .bg_image {
      background-color: #ebebeb;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      padding: 10%;
      img {
        display: block;
        width: 80%;
        box-shadow: 0px 0px 8px 2px rgba(186,186,186,0.18);
      }
    }

  }

  .btn_projects_wrapper {
    @include media(xs) {
      margin-bottom: 30%;
    }
    @include media(md) {
      margin-bottom: 20%;
    }
    @include media(lg) {
      margin-bottom: 16%;
    }
    a {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      max-width: 340px;
      padding: 10px 25px;
      color: white;
      transition: 0.3s ease-in-out;
      font-weight: 700;
      font-size: 2.4rem;
      background: #F27F3D;
      border-radius: 50px;
      border: 0.2rem solid #032059;
      box-shadow: 0.3rem 0.3rem 0px 0.2rem #032059;
      img {
        width: 8%;
        @include media(md) {
          width: 7%;
        }
        @include media(lg) {
          width: 7%;
        }
        animation: slideBlink 1.2s linear infinite;
        transition: ease-in-out;
      }
    }
    a:hover {
      transform: translate3d(0.2rem, 0.2rem, 0);
      box-shadow: none;
      opacity: 1;
      transition: all 0.2s;
    }
    @keyframes slideBlink {
      from {
        // opacity: 0;
        transform: translateX(3);
      }
      to {
        // opacity: 1;
        transform: translateX(20px);
      }
    }
  }
}

