
<div class="hero_home">
  <img class="hero_img_home" [src]="aboutMe.data.attributes.HomeHeroImage.data.attributes.url" alt="Machika Yamauchi web developer portfolio homepage image">
  <div class="hero_content">
    <div class="hero_mainContent">
      <div class="name_wrapper">
        <h1 class="myName">{{aboutMe.data.attributes.Name}}</h1>
        <h1 class="job_title"><span>F</span>ront-End <span>D</span>eveloper</h1>
      </div>
    </div>
    <div class="scroll_bar_wrapper">
      <div class="bar"></div>
    </div>
  </div>
  <portfolio-header></portfolio-header>
</div>

<div class="title">
  <h2 class="title_clip">Projects</h2>
</div>

<section class="projects">
  <div class="project_wrapper1" data-scroll>
    <span class="project_bg1"></span>
      <div class="project_desc">
        <div class="project_title">
          <h2 class="project_title_clip">{{project1.attributes.Title}}</h2>
        </div>
        <div class="projects_summary">
          <p class="summary">{{project1.attributes.Summary}}</p>
          <ul class="technology_useds">
            <li *ngFor="let tech of project1.attributes.technology_useds.data">{{tech.attributes.TechnologyName}}</li>
          </ul>
        </div>
        <div class="link_wrapper">
          <a class="viewSite" [routerLink]="[ '/projects', project1.id, project1.attributes.Slug]">More Details</a>
          <a class="github" [href]="project1.attributes.GithubLink" target="_blank">Github<i class="fa-brands fa-github"></i></a>
        </div>
      </div>
      <p class="project_img" data-scroll>
        <img [src]="project1.attributes.ProjectsHero.data.attributes.url" alt="E-commerce Crud App Machika Yamauchi web developer portfolio projects">
      </p>
  </div>

  <div class="project_wrapper2" data-scroll>
    <span class="project_bg2"></span>
    <div class="project_desc">
      <div class="project_title">
        <h2 class="project_title_clip">{{project2.attributes.Title}}</h2>
      </div>
      <div class="projects_summary">
        <p class="summary">{{project2.attributes.Summary}}</p>
        <ul class="technology_useds">
          <li *ngFor="let tech of project2.attributes.technology_useds.data">{{tech.attributes.TechnologyName}}</li>
        </ul>
      </div>
      <div class="link_wrapper" data-scroll>
        <a class="viewSite" [routerLink]="[ '/projects', project2.id, project2.attributes.Slug]">More Details</a>
        <a class="github" [href]="project2.attributes.GithubLink" target="_blank">Github<i class="fa-brands fa-github"></i></a>
      </div>
    </div>
    <p class="project_img" data-scroll>
      <img [src]="project2.attributes.ProjectsHero.data.attributes.url" alt="Sprites & Selkies Daycare Website Machika Yamauchi web developer portfolio projects">
    </p>
  </div>

  <div class="project_wrapper3" data-scroll>
    <span class="project_bg3"></span>
    <div class="project_desc">
      <div class="project_title">
        <h2 class="project_title_clip">{{project3.attributes.Title}}</h2>
      </div>
      <div class="projects_summary">
        <p class="summary">{{project3.attributes.Summary}}</p>
        <ul class="technology_useds">
          <li *ngFor="let tech of project3.attributes.technology_useds.data">{{tech.attributes.TechnologyName}}</li>
        </ul>
      </div>
      <div class="link_wrapper" data-scroll>
        <a class="viewSite" [routerLink]="[ '/projects', project3.id, project3.attributes.Slug]">More Details</a>
        <a class="github" [href]="project3.attributes.GithubLink" target="_blank">Github<i class="fa-brands fa-github"></i></a>
      </div>
    </div>
    <p class="project_img" data-scroll>
      <img [src]="project3.attributes.ProjectsHero.data.attributes.url" alt="UX/UI designer portfolio Machika Yamauchi web developer portfolio projects">
    </p>
  </div>
  <div class="projectsPageLink_btn">
    <a routerLink="/projects">View All Projects
      <img class="arrow_btn" [src]="aboutMe.data.attributes.Arrow_White_Right.data.attributes.url" alt="">
    </a>
  </div>
</section>

<section class="skills">
  <h2 class="skill_title">Skills</h2>
  <p class="skill_desc">
    I have learned web development and web design skills to become a front-end developer.<br>I list all the skills that I have learned until now.
  </p>
  <div class="skill_container">
    <div class="skill_card">
      <i class="devicon-angularjs-plain"></i>
      <p>Angular</p>
    </div>
    <div class="skill_card">
      <i class="devicon-javascript-plain"></i>
      <p>Javascript</p>
    </div>
    <div class="skill_card">
      <i class="devicon-typescript-plain"></i>
      <p>Typescript</p>
    </div>
    <div class="skill_card">
      <i class="devicon-jquery-plain"></i>
      <p>jQuery</p>
    </div>
    <div class="skill_card">
      <i class="devicon-html5-plain"></i>
      <p>HTML5</p>
    </div>
    <div class="skill_card">
      <i class="devicon-css3-plain"></i>
      <p>CSS3</p>
    </div>
    <div class="skill_card">
      <i class="devicon-sass-original"></i>
      <p>SCSS</p>
    </div>
    <div class="skill_card">
      <i class="devicon-bootstrap-plain"></i>
      <p>Bootstrap</p>
    </div>
    <div class="skill_card">
      <i class="devicon-php-plain"></i>
      <p>PHP</p>
    </div>
    <div class="skill_card">
      <i class="devicon-wordpress-plain"></i>
      <p>WordPress</p>
    </div>
    <div class="skill_card">
      <i class="devicon-nodejs-plain"></i>
      <p>Node.js</p>
    </div>
    <div class="skill_card">
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>MySQL</p>
    </div>
    <div class="skill_card">
      <i class="devicon-mongodb-plain"></i>
      <p>mongoDB</p>
    </div>
    <div class="skill_card">
      <i class="devicon-digitalocean-plain colored"></i>
      <p>DigitalOcean</p>
    </div>
    <div class="skill_card">
      <img src="../../assets/strapi_logo.svg" alt="">
      <p>Strapi</p>
    </div>
    <div class="skill_card">
      <i class="devicon-github-original"></i>
      <p>GitHub</p>
    </div>
    <div class="skill_card">
      <i class="fa-brands fa-figma"></i>
      <p>Figma</p>
    </div>
    <div class="skill_card">
      <i class="devicon-illustrator-plain"></i>
      <p>Illustrator</p>
    </div>
    <div class="skill_card">
      <i class="devicon-photoshop-plain"></i>
      <p>Photoshop</p>
    </div>
    <div class="skill_card">
      <i class="devicon-aftereffects-plain"></i>
      <p>After Effects</p>
    </div>
    <div class="skill_card">
      <i class="fa-solid fa-people-group"></i>
      <p>Agile</p>
    </div>
  </div>
</section>

<section class="contact">
  <div class="text_up contact_title">
    <span class="text_up_js">C</span>
    <span class="text_up_js">o</span>
    <span class="text_up_js">n</span>
    <span class="text_up_js">t</span>
    <span class="text_up_js">a</span>
    <span class="text_up_js">c</span>
    <span class="text_up_js">t</span>
  </div>
  <div class="contactMessage">
    <p>Please Feel Free to Contact Me!</p>
  </div>
  <div class="contact_btn_wrapper">
    <a routerLink="/contact">Let's Talk!
      <img class="arrow_btn" [src]="aboutMe.data.attributes.Arrow_White_Right.data.attributes.url" alt="">
    </a>
  </div>
</section>

<portfolio-footer></portfolio-footer>
