
<div class="hero_home">
  <img class="hero_img_home" src="../../assets/home_hero.png" alt="Machika Yamauchi web developer portfolio homepage image">
  <div class="hero_content">
    <div class="hero_mainContent">
      <div class="name_wrapper">
        <h1 class="myName" data-aos="fade-up" data-aos-duration="1200">
          Hello,I'm...<br>
          Machika Yamauchi.<br>
        </h1>
        <h1 class="job_title" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="500"><span>F</span>ront-end <span>D</span>eveloper</h1>
      </div>
      <div class="link_wrapper">
        <div class="projectsSectionLink_btn" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
          <a href="#projects_link">My Projects
            <img class="arrow_btn" src="../../assets/arrow_white_right.svg" alt="Machika Yamauchi web developer portfolio arrow icon">
          </a>
        </div>
      </div>
    </div>
  </div>
  <portfolio-header></portfolio-header>
</div>

<section class="projects">
  <h2 id="projects_link">Projects</h2>
  <div class="project_card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="projectImage_wrapper">
            <img *ngIf="displayImage" [src]="project1.attributes.ProjectsImage.data.attributes.url" alt="Bench Bakery Machika Yamauchi web developer portfolio projects image">
            <div class="mask" *ngIf="displayImage" (click)="display()">
              <div class="caption">Click to start Gif demo</div>
            </div>
            <img *ngIf="displayGif" [src]="project1.attributes.ProjectGIF.data.attributes.url" alt="Bench Bakery Machika Yamauchi web developer portfolio projects GIF"/>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="projects_summary">
            <p class="summary">{{project1.attributes.Summary}}</p>
            <ul class="technology_useds">
              <li *ngFor="let tech of project1.attributes.technology_useds.data">{{tech.attributes.TechnologyName}}</li>
            </ul>
            <div class="link_wrapper">
              <a class="viewSite" [href]="project1.attributes.WebsiteLink" target="_blank">View Site</a>
              <a class="github" [href]="project1.attributes.Github_CaseStudy_Link" target="_blank">Github<i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project_card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="projectImage_wrapper">
            <img *ngIf="displayImage" [src]="project2.attributes.ProjectsImage.data.attributes.url" alt="Machika Yamauchi web developer portfolio projects image">
            <div class="mask" *ngIf="displayImage" (click)="display()">
              <div class="caption">Click to start Gif demo</div>
            </div>
            <img *ngIf="displayGif" src="../../assets/BenchBakery_loop1_pressed.gif" alt="some alt description"/>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="projects_summary">
            <p class="summary">{{project2.attributes.Summary}}</p>
            <ul class="technology_useds">
              <li *ngFor="let tech of project2.attributes.technology_useds.data">{{tech.attributes.TechnologyName}}</li>
            </ul>
            <div class="link_wrapper">
              <a class="viewSite" [href]="project2.attributes.WebsiteLink" target="_blank">View Site</a>
              <a class="github" [href]="project2.attributes.Github_CaseStudy_Link" target="_blank">Github<i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projectsPageLink_btn">
    <a routerLink="/projects">View All Projects
      <img class="arrow_btn" src="../../assets/arrow_white_right.svg" alt="Machika Yamauchi web developer portfolio arrow icon">
    </a>
  </div>
</section>

<section class="skills">
  <h2>Skills</h2>
  <p class="skill_desc">
    I have learned web development and web design skills to become a front-end developer.
  </p>
  <div class="skill_container">
    <div class="skill_card" *ngFor="let skill of skills">
      <img [src]="skill.attributes.SkillLogo.data.attributes.url" [alt]="skill.attributes.SkillName + ' logo'">
      <p>{{skill.attributes.SkillName}}</p>
    </div>
  </div>
</section>

<section class="contact">
  <h2>Contact</h2>
  <div class="contactMessage">
    <p>Please Feel Free to Contact Me!</p>
  </div>
  <div class="contact_btn_wrapper" data-scroll>
    <a routerLink="/contact">Let's Talk!
      <img class="arrow_btn" src="../../assets/arrow_white_right.svg" alt="Machika Yamauchi web developer portfolio arrow icon">
    </a>
  </div>
</section>

<portfolio-footer></portfolio-footer>
